.acerca-de{

    .contenedor{
        overflow: visible;
        position: relative;

        .foto{
            width: 80%;
            position: absolute;
            top:-50px;
            left: 0;
            z-index:0;
            box-shadow: 0px 0px 15px regba(0,0,0,.35);

            .img{
                width: 100%;
                vertical-align: top;
            }
        }

        .articulo{
            background: #fff;
            padding:40px;
            width: 50%;
            position: relative;
            top:500px;
            float: right;
            z-index:1;
            box-shadow: 0px 0px 15px regba(0,0,0,.35);

            .titulo{
                font-size: 50px ;
                font-weight: 300;
                margin-bottom:40px;
            }

            .parrafo{
                line-height: 28px;
                margin-bottom: 15px;
            }
        }
    }
}