.galeria{
     overflow: hidden;

    .foto-1{
        width:25%;
        float:left;

            &:hover img{
                opacity: 1;

                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -o-transition: all .3s ease;
                -ms-transition: all .3s ease;
                transition: all .3s ease;
            }

        img{
            width: 100%;
            vertical-align: top;
            opacity: .7;
        }

        
    }
}