.menu{
    padding-top: 570px;
    margin-bottom: 50px;
    

    .titulo{
        font-size: 40px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
    }
    .contenedor-menu{
        border:1px solid #000;
        background:transparent;
        padding: 10px;
        overflow: hidden;

        .contenedor-menu2{
            border:1px solid #000;
            background:transparent;
            padding: 10px;
            overflow: hidden;

            .articulo{
                width: 50%;
                float: left;
                padding: 20px;

                .categoria{
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: 40px;
                    text-align: center;
                }

                .platillos{
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border-bottom: 4px dotted #000;
                    overflow: hidden;

                    .nombre{
                        font-size: 20px;
                        margin-bottom: 15px;
                        float: left;
                    }

                    .precio{
                        
                        font-size: 20px;
                        margin-bottom: 15px;
                        float: right;

                    }

                    .descripcion{
                        font-size: 16px;
                        color: #676767;
                        clear: both;
                    }
                }
            }
        }
    }
}