@media screen and (max-width: 800px){
    .header{

        .contenedor{
            position: static;
            height: auto;

            .menu-navegacion{

                ul{
                    text-align: center;

                    li{
                        margin: 30px 20px;
                    }
                }

            }

            .textos{
                position: static;
                margin:100px 0;

                .nombre{
                    font-sizi:30px;
                }

                .slogan{
                    font-size: 18px;
                }
            }
        }
    }
}