@media screen and(max-width:400px){

    .ubicacion{

        .direccion{
            margin-bottom: 15px;
        }
        
        .direccion,
        .horarios{
            width:100%;
            text-align: center;
        }
    }
}