*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', Arial, sans-serif;
    font-size: 16px;
}

.contenedor{
    max-width: 1000px;
    width:90%;
    margin: auto;
    overflow: hidden;
}

.main{
    background: url(../img/bg-textura.png);
    background-repeat:repeat;
}