* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  overflow: hidden; }

.main {
  background: url(../img/bg-textura.png);
  background-repeat: repeat; }

.header {
  width: 100%;
  background: url(../img/bg.jpg) #281a0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0; }
  .header .contenedor {
    width: 95%;
    position: relative;
    height: 700px; }
    .header .contenedor .menu-navegacion {
      width: 100%; }
      .header .contenedor .menu-navegacion ul {
        width: 100%;
        list-style: none;
        text-align: right; }
        .header .contenedor .menu-navegacion ul li {
          display: inline-block;
          margin: 40px  20px;
          position: relative; }
          .header .contenedor .menu-navegacion ul li a {
            color: #FFFFFF;
            font-size: 20px;
            font-family: 'Open Sans', Arial, sans-serif;
            font-weight: 300;
            text-decoration: none; }
            .header .contenedor .menu-navegacion ul li a:hover {
              text-decoration: underline; }
    .header .contenedor .textos {
      width: 100%;
      color: #ffff;
      position: absolute;
      top: 50%;
      margin-top: -52px; }
      .header .contenedor .textos .nombre {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 6px; }
        .header .contenedor .textos .nombre span {
          font-weight: 300; }
      .header .contenedor .textos .slogan {
        font-weight: 300;
        font-size: 20px;
        font-style: italic; }

.acerca-de .contenedor {
  overflow: visible;
  position: relative; }
  .acerca-de .contenedor .foto {
    width: 80%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 0;
    box-shadow: 0px 0px 15px regba(0, 0, 0, 0.35); }
    .acerca-de .contenedor .foto .img {
      width: 100%;
      vertical-align: top; }
  .acerca-de .contenedor .articulo {
    background: #fff;
    padding: 40px;
    width: 50%;
    position: relative;
    top: 500px;
    float: right;
    z-index: 1;
    box-shadow: 0px 0px 15px regba(0, 0, 0, 0.35); }
    .acerca-de .contenedor .articulo .titulo {
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 40px; }
    .acerca-de .contenedor .articulo .parrafo {
      line-height: 28px;
      margin-bottom: 15px; }

.menu {
  padding-top: 570px;
  margin-bottom: 50px; }
  .menu .titulo {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px; }
  .menu .contenedor-menu {
    border: 1px solid #000;
    background: transparent;
    padding: 10px;
    overflow: hidden; }
    .menu .contenedor-menu .contenedor-menu2 {
      border: 1px solid #000;
      background: transparent;
      padding: 10px;
      overflow: hidden; }
      .menu .contenedor-menu .contenedor-menu2 .articulo {
        width: 50%;
        float: left;
        padding: 20px; }
        .menu .contenedor-menu .contenedor-menu2 .articulo .categoria {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 40px;
          text-align: center; }
        .menu .contenedor-menu .contenedor-menu2 .articulo .platillos {
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-bottom: 4px dotted #000;
          overflow: hidden; }
          .menu .contenedor-menu .contenedor-menu2 .articulo .platillos .nombre {
            font-size: 20px;
            margin-bottom: 15px;
            float: left; }
          .menu .contenedor-menu .contenedor-menu2 .articulo .platillos .precio {
            font-size: 20px;
            margin-bottom: 15px;
            float: right; }
          .menu .contenedor-menu .contenedor-menu2 .articulo .platillos .descripcion {
            font-size: 16px;
            color: #676767;
            clear: both; }

.galeria {
  overflow: hidden; }
  .galeria .foto-1 {
    width: 25%;
    float: left; }
    .galeria .foto-1:hover img {
      opacity: 1;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease; }
    .galeria .foto-1 img {
      width: 100%;
      vertical-align: top;
      opacity: .7; }

.ubicacion {
  background: #fff;
  padding: 60px 0; }
  .ubicacion .titulo-2 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px; }
  .ubicacion .direccion {
    width: 50%;
    float: left;
    text-align: left; }
    .ubicacion .direccion .calle {
      margin-bottom: 15px; }
  .ubicacion .horarios {
    width: 50%;
    float: right;
    text-align: right;
    overflow: hidden; }
    .ubicacion .horarios h4 {
      text-align: center;
      margin-bottom: 20px; }
    .ubicacion .horarios .entre-semana {
      width: 50%;
      float: left;
      text-align: center; }
    .ubicacion .horarios .fin-semana {
      width: 50%;
      float: right;
      text-align: center; }

.mapa {
  width: 100%;
  overflow: hidden; }
  .mapa iframe {
    width: 100%;
    max-height: 600px; }

footer {
  background: #000; }
  footer .copyright {
    text-align: center;
    padding: 15px 0;
    color: #FFF; }

@media screen and (max-width: 800px) {
  .header .contenedor {
    position: static;
    height: auto; }
    .header .contenedor .menu-navegacion ul {
      text-align: center; }
      .header .contenedor .menu-navegacion ul li {
        margin: 30px 20px; }
    .header .contenedor .textos {
      position: static;
      margin: 100px 0; }
      .header .contenedor .textos .nombre {
        font-sizi: 30px; }
      .header .contenedor .textos .slogan {
        font-size: 18px; } }
@media screen and (max-width: 800px) {
  .acerca-de .contenedor .foto {
    width: 100%;
    position: relative; }
  .acerca-de .contenedor .articulo {
    position: relative;
    width: 100%;
    top: -50px;
    transform: translate(0px, 0); } }
@media screen and (max-width: 400px) {
  .acerca-de .articulo .titulo {
    font-size: 34px;
    margin-bottom: 10px; } }
@media screen and (max-width: 800px) {
  .menu {
    padding-top: 300px; }
    .menu .contenedor-menu .contenedor-menu2 .articulo {
      width: 100%; } }
@media screen and (max-width: 400px) {
  .menu .contenedor-menu .contenedor-menu2 .articulo .nombre,
  .menu .contenedor-menu .contenedor-menu2 .articulo .precio {
    font-size: 16px;
    line-height: 16px; } }
@media screen and (max-width: 800px) {
  .galeria .foto-1 {
    width: 50%; } }
@media screen and (max-width: 800px) {
  .mapa {
    width: 80%;
    margin: auto; } }
@media screen and (max-width: 400px) {
  .ubicacion .direccion {
    margin-bottom: 15px; }
  .ubicacion .direccion,
  .ubicacion .horarios {
    width: 100%;
    text-align: center; } }

/*# sourceMappingURL=estilos.css.map */
